**/*.pyc
.coverage
.pytest_cache
.venv/
coverage.xml
venv/
.env/
.idea/
/.env
.envrc
/.python-version
.vscode/
.poetry_ts
*.sw*
*.orig
target
.DS_Store
.devenv*
devenv.local.nix
devenv.local.yaml
.direnv

# These are the common electron-forge created git ignore
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
pids
*.pid
*.seed
*.pid.lock
.DS_Store
lib-cov
coverage
*.lcov
.nyc_output
.lock-wscript
build/Release
node_modules/
jspm_packages/
typings/
*.tsbuildinfo
.npm
.eslintcache
.node_repl_history
*.tgz
.yarn-integrity
.env
.env.test
.cache
.next
.nuxt
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/
.webpack/
.vite/
out/

